.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.page-nav {
  display: flex;
  gap: 100px;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  }
  50% {
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
  }
  100% {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  }
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.17;
  text-transform: uppercase;
  color: #f0f1fa;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  animation: glow 1.5s infinite alternate;
}
.logo-span-part {
  color: #1d28f6;
  filter: drop-shadow(0 0 10px #1d28f6);
}
.first-navigation-link {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.17;
}
