/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.hero-image-section {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero-section.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.hero-image-section::before,
.hero-image-section::after {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: radial-gradient(circle, rgba(255, 0, 255, 0.2), transparent);
  filter: blur(50px);
  animation: moveFog 10s infinite alternate ease-in-out;
  z-index: 1;
}

/* Додатковий туман */
.hero-image-section::after {
  background: radial-gradient(circle, rgba(0, 255, 255, 0.2), transparent);
  animation-duration: 15s;
}

/* Анімація руху туману */
@keyframes moveFog {
  0% {
    transform: translateX(-10%) translateY(-10%);
  }
  100% {
    transform: translateX(10%) translateY(10%);
  }
}
.how-to-order {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-right: 50px;
}
.box {
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-to-order-picture {
  padding-top: 60px;
}

.how-tobuy-picture {
  border-radius: 5px; /* Невелике згладжування кутів */
  outline: 3px solid rgba(0, 255, 255, 0.8); /* Бірюзове неонове світіння */
  box-shadow: 0 0 5px #00ffff, /* Бірюзове світіння */ 0 0 20px #ff00ff,
    /* Фіолетове світіння */ 0 0 40px #00ffff; /* Посилене світіння */
  transition: all 0.3s ease-in-out;
}
.how-tobuy-picture:hover {
  outline-color: rgba(255, 0, 255, 0.8);
  box-shadow: 0 0 15px #ff00ff, 0 0 30px #00ffff, 0 0 50px #ff00ff;
}
.how-to-order-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  }
  50% {
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
  }
  100% {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  }
}

.how-to-order-section-title {
  padding-top: 10px;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgba(251, 251, 251, 1);
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  animation: glow 1.5s infinite alternate;
}
.how-to-order-picture {
  padding-left: 0;
  padding-right: 0;
}
.how-to-order-info {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.order-features-list-item {
  display: flex;

  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: justify;
  color: rgba(20, 20, 20, 0.6);
  background-color: rgba(251, 251, 251, 1);
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 70px;
  width: 400px;
  min-height: 45px;
}
.order-features-list-item:first-child {
  padding-top: 17px;
}
.order-features-list-item:nth-child(2) {
  padding-top: 17px;
}
.order-features-list-item:last-child {
  padding-top: 17px;
}
.shopping-list-counter {
  counter-set: shopping-list-counter;
}
.order-features-list-item::before {
  position: absolute;
  top: -5px;
  left: 0;
  content: counter(shopping-list-counter);
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 20px;
  margin-right: 24px;
  border-color: rgba(255, 0, 255, 0.6);
  border-width: 3px;
  border-style: solid;
  outline: 3px solid rgba(0, 255, 255, 0.8);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #11001c;
  box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ff00ff;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(251, 251, 251, 1);
}
.order-features-list-item {
  counter-increment: shopping-list-counter;
}
.discount-info {
  margin-top: 100px;
  margin-bottom: 100px;
}
.discount-info-wrapper {
  margin-left: 0;
  margin-right: 0;
}

.discount-info-paragraph {
  display: flex;
  min-width: 950px;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -1.5%;
  vertical-align: middle;
  text-transform: uppercase;
  word-spacing: 5px;
  text-align: center;
  color: rgba(251, 251, 251, 1);
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  animation: glow 1.5s infinite alternate;

  position: relative;
  padding: 20px 40px;
  color: #00ffae;
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  border: 2px solid #00ffae;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}
.discount-info-paragraph::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #00ffae, transparent);
  z-index: 2;
  animation: light-move 5s linear infinite;
  opacity: 0.6;
  pointer-events: none;
}

@keyframes light-move {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 200%;
  }
}

/* @keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  22%,
  24%,
  55% {
    opacity: 0;
  }
} */

.store-section-container {
  border: 2px solid #00ff88;
  box-shadow: 0 0 20px #00ff88;
  border-radius: 10px;
  max-width: 900px;
  position: relative;
  overflow: hidden;
  /* animation: flicker 2s infinite; */
}
#radiationCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  animation: glitchShift 4s infinite;
}

@keyframes glitchShift {
  0%,
  100% {
    transform: none;
  }
  45% {
    transform: translate(1px, -1px) skewX(0.5deg);
  }
  50% {
    transform: translate(-1px, 1px) skewY(0.5deg);
  }
  55% {
    transform: translate(0.5px, -0.5px);
  }
}
.store-section-content-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
.cyberglow-store-section-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -1.5%;
  vertical-align: middle;
  text-transform: uppercase;
  margin-top: 50px;
}
.store-section-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  max-width: 440px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.store-section-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.store-section-list-item {
  flex: 0 0 calc(33.333% - 13.33px); /* три в ряд */
  box-sizing: border-box;
}
.cyberglow-store-section-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -1.5%;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(251, 251, 251, 1);
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  animation: glow 1.5s infinite alternate;
  margin-bottom: 24px;
}
.cyberglow-store-section-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  max-width: 620px;
  margin-bottom: 50px;
}
.cyberglow-store-section-card-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
}
.store-section-card-text {
  margin-bottom: 14px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
